[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[user]
	name = Daniel Yim
	email = danielyim@gmail.com
[core]
	editor = vim
	excludesfile = ~/.gitignore
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[color]
	ui = true
[merge]
	tool = vimdiff
	ff = false
[push]
	default = simple
[pull]
	ff = true
	rebase = true
[commit]
	gpgsign = false
[alias]
	# Diff previous commit to its parent
	dhh = diff HEAD^ HEAD
	wipe = !git add -A && git commit -qm 'WIPE SAVEPOINT' && git reset HEAD~1 --hard
	commend = !git commit --amend --no-edit
	ch = !sh -c \"git for-each-ref refs/heads | cut -d/ -f3- | grep -m 1 -i $1 | xargs git checkout\"
	lg = log --graph --pretty=format:\"%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset\" --abbrev-commit
	rl = reflog --pretty=format:\"%Cred%h%Creset %C(auto)%gd%Creset %C(auto)%gs%C(reset) %C(green)(%cr)%C(reset) %C(bold blue)<%an>%Creset\" --abbrev-commit
	sl = stash list --pretty=format:\"%C(red)%h%C(reset) - %C(dim yellow)(%C(bold magenta)%gd%C(dim yellow))%C(reset) %<(70,trunc)%s %C(green)(%cr) %C(bold blue)<%an>%C(reset)\"
	d = diff -w
	dc = diff -w --cached
	# From https://csswizardry.com/2017/05/little-things-i-like-to-do-with-git/
	# ===============================================
	# Leaderboards (how many commits by person sorted descending)
	stats = shortlog -sn --since='10 weeks' --until='2 weeks'
	# See Which Branches You Recently Worked On
	recent = for-each-ref --count=10 --sort=-committerdate refs/heads/ --format="%(refname:short)"
	# Remind Yourself What You’ve Been Up To
	recap = log --all --oneline --no-merges --author=danielyim@gmail.com
[url "git@github.com:"] # Forces SSH
	pushInsteadOf = "git://github.com/"
	pushInsteadOf = "https://github.com/"
[gpg]
	program = gpg
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[branch]
	autosetuprebase = always
